@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk", sans-serif;
}
input {
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 15px;
}
a {
	text-decoration: none;
}
.home,
.replies,
.modal {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 30px;
}
.registerTitle,
.loginTitle,
.homeTitle,
.repliesTitle {
	margin-bottom: 30px;
}
.registerForm,
.loginForm {
	width: 80%;
	display: flex;
	flex-direction: column;
}
.registerBtn,
.loginBtn,
.homeBtn,
.modalBtn {
	display: block;
	width: 200px;
	padding: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #fffbf5;
	background-color: #6EC6A9;
	margin-bottom: 15px;
}
.homeForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin-bottom: 30px;
}
.home__container {
	display: flex;
	flex-direction: column;
	width: 75%;
}
.homeBtn {
	margin-bottom: 0px;
}
.thread__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	padding: 20px;
}
.thread__item {
	padding: 20px;
	width: 80%;
	box-shadow: 0 0 1px 1px #9CD8C4;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
.likes__container {
	display: flex;
	align-items: center;
	margin-right: 25px;
}
.likesBtn {
	height: 30px;
	color: #F1CCD7;
	cursor: pointer;
}
.react__container {
	display: flex;
	align-items: center;
}
.modal {
	background-color: #ddd;
	position: fixed;
}
.modalInput {
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
}
.modal__content {
	background-color: #fff;
	width: 70%;
	padding: 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.modal__content > label {
	margin-bottom: 15px;
}
.navbar {
	width: 100%;
	padding: 10px 20px;
	background-color: #45B08C;
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: space-between;
}
.navbar > h2 {
	color: #fffbf5;
}
.navbarRight {
	display: flex;
	align-items: center;
}
.navbarRight > button {
	padding: 15px;
	width: 150px;
	background-color: #E2808A;
	color: #fffbf5;
	font-size: 16px;
	border: none;
	outline: none;
	margin-left: 15px;
	cursor: pointer;
	border-radius: 3px;
}
.login {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}
.register {
    display: flex;
    height: 100vh;
    width: 100%;
    font-family: Arial, sans-serif;
}
.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}
.register-form-container{
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.visual-content {
    flex: 0.4;
    position: relative;
    background: url('D:\Forum_app\client\public\4156248.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
	
}

.visual-content .bird {
    position: relative;
    height: 40px; /* Adjust height as per your image dimensions */
    width: 72px; /* Adjust width as per your image dimensions */
    background-size: cover;
    z-index: 3;
}

.visual-content .bird1 {
    top: 10%;
    left: 0%;
    background-image: url('D:\Forum_app\client\public\bird.png');
}

.visual-content .bird2 {
    top: 25%;
    left: 12%;
    background-image: url('D:\Forum_app\client\public\bird2.png');
}

.visual-content .bird3 {
    top: 12%;
    left: 50%;
    background-image: url('D:\Forum_app\client\public\bird3.png');
}

.visual-content .bird4 {
    top: 28%;
    right: -20%;
    background-image: url('D:\Forum_app\client\public\bird4.png');
}

.visual-content .bird5 {
    top: 40%;
    right: 55%;
    background-image: url('D:\Forum_app\client\public\bird5.png');
}
.visual-content .bird6 {
    top: 60%;
    right: 42%;
    background-image: url('D:\Forum_app\client\public\eye.png');
}
.visual-content .sun {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px; /* Adjust height as per your image dimensions */
    width: 250px; /* Adjust width as per your image dimensions */
    background-size: cover;
    background-image: url('D:\Forum_app\client\public\sun.png'); /* Adjust the URL to your sun image */
    z-index: 2;
}
.visual-content .smiley {
	position: absolute;
	bottom: 20%;
	left: 38%;
	transform: rotate(320deg);;
	height: 100px;
	width: 100px;
	background-size: cover;
	background-image: url('D:\Forum_app\client\public\smiley.png');
	z-index: 2;
}
.visualcontent {
    flex: 0.5;
    position: relative;
    background: url('D:\Forum_app\client\public\2202_w026_n002_1422b_p1_1422.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    height: 100vh; /* Ensure full viewport height */
}


